{% extends 'layout.html' %}


{%block head%}
<title>Games</title>
{%endblock%}


{%block content%} 
<body>
    <div class="games">
        <h1 style="text-align: left;">Games</h1>
        
    </div>

</body>

<style>
input{
    background-color: var(--dark) !important;
}

textarea{
    width: 100%;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid var(--primary);
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark) !important;
    resize:none;
}

button{
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.games{
    background-color: var(--light);
    padding: 2rem;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    display: none;
    transition: all 0.5s ease-in-out;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.buttons > button{
    flex-grow: 1;
    flex-basis: 0;
}

.outline{
    background-color: transparent;
    border: 4px solid var(--primary);
    padding: 0.3rem;
}

button.red{
    background-color: var(--red) !important;
}
</style>
{%endblock%}